@import url(./_theme/section-title_theme_dark.css);

.section-title {
  z-index: 1;
  width: 60%;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.15;
  text-align: center;
  font-weight: 700;
}
