.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  color: #2F80ED;
  text-decoration: none;
  transition: opacity ease 250ms;
}

.khan__buy-link:hover {
opacity: 50%;
}
